import groovy.grape.Grape

Grape.grab(group:'com.datastax.cassandra', module:'cassandra-driver-core', version:'2.1.9')
import com.datastax.driver.core.utils.UUIDs

import java.util.UUID

Grape.grab(group:'joda-time', module:'joda-time', version:'2.8.2')
import org.joda.time.LocalDate
import org.joda.time.LocalDateTime
import org.joda.time.DateTime

def uuidStartOf(String dateTime) {
  def date = DateTime.parse(dateTime)
  [UUIDs.startOf(date.millis), date.millis]
}

def uuidEndOf(String dateTime) {
  def date = DateTime.parse(dateTime)
  [UUIDs.endOf(date.millis), date.millis]
}

def uuidTime(String uuid) {
  def uuidObj = UUID.fromString(uuid)
  def timestamp = UUIDs.unixTimestamp(uuidObj)
  new LocalDateTime(timestamp)
}
